.menu {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    background-color: #fff;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0 1px 18px 10px rgba(0,0,0,0.25);
    margin-top: -60px;
    opacity: 1;
}

.menu-header {
    width: 100%;
    height: 9%;
    text-align: center;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.521);
    border-bottom: 1px solid lightgray;

}

.menu-sub-header {
    display: flex;
    height: 7%;
    border-bottom: 1px solid lightgray;
    /* overflow: scroll; */
}

.menu-items {
    overflow: scroll;
    height: 83%;
}

.menu-items::-webkit-scrollbar {
    width: 5px;
    height: 98%;
}
.menu-items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.menu-items::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.menu-sub-header p:first-child {
    margin-left: 15%;
}

.menu-sub-header p {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10%;
    align-items: center;
    padding-top: 10px;
}

